*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

h4{
display: flex;
flex-direction: row;
padding: 20px 0 10px 30px;
font-size: 25px;
font-weight: 600;
color: #ff6b82;
}
h4::before{
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #CBCBCB;
    margin: 10px 10px 10px 490px;
    max-width:10% ;
}
h4::after{
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #CBCBCB;
    margin: 10px 10px 10px 10px;
    max-width:10% ;
}


  
  .main-container {
    width: 500px;
    height: auto;
    margin: 10px 520px;
    border-radius: 1px;
    border: solid 2px #bebabb;
  }

  .main-container:hover {
    border: solid 2px #ff6b82;
    background-color: #fbf3f4;
  }
.price-tag1{
    margin-left: 300px;
    font-size: 20px;
    font-weight: 700;
   margin-top: -50px;
 
}
 .price-tag2{
    margin-left: 300px;
    text-decoration: line-through;
    font-size: 15px;
    opacity: 0.6;
}
/* Box-2 */
.price-tag3{
    margin-left: 300px;
    font-size: 20px;
    font-weight: 700;
   margin-top: -50px;
 
}
 .price-tag4{
    margin-left: 300px;
    text-decoration: line-through;
    font-size: 15px;
    opacity: 0.6;
}
/* Box-3 */
.price-tag5{
    margin-left: 300px;
    font-size: 20px;
    font-weight: 700;
   margin-top: -50px;
   padding: 2px;
 
}
 .price-tag6{
    margin-left: 300px;
    text-decoration: line-through;
    font-size: 15px;
    opacity: 0.6;
}
.container{
   margin: 20px 30px;
}
input[type="radio"]{
    margin-top: 20px;
    margin-left: 20px;
}
.Unit1-label{
font-size: 20px;
font-weight: 700;
}
.container .off-label{
    background-color: #ff6b82;
    color: white;
    font-size: 18px;
    padding: 5px;
    margin-left: 30px;
    font-weight: normal;
}
.Standard-price{
    font-size: 15px;
    margin: 10px 35px;
}

.table .label-size{
margin-left: 45px;
}
.table .label-color{
margin-left: 45px;
}
.details1{
    display: block;
    padding: 10px 0px;
    margin-left: 10px;
}
.details1 .details1-color{
    width: 80px;
    height: 30px;
    font-size: 18px;
}
.details1 .details1-size{
    width: 80px;
    height: 30px;
    font-size: 18px;
    margin-left: 10px;
}
.details2{
    display: block;
    padding: 10px 0px;
    margin-left: 10px;
}
.details2 .details2-color{
    width: 80px;
    height: 30px;
    font-size: 18px;
}
.details2 .details2-size{
    width: 80px;
    height: 30px;
    font-size: 18px;
    margin-left: 10px;
}

.table {
    padding: 40px 0px;
    font-size: 18px;
    display: none;
    margin-top: 20px;
  }
  
  input[type="radio"]:checked ~ .table {
    display: block;
  }
  
  input[type="radio"]:not(:checked) ~  .table {
    display: none;
  }
  
  input[type="radio"] {
  accent-color: #ff0000; /* Change to your desired color */
}
.bottom{
display: flex;
   
}
.free{
    padding: 10px 0px 0px 520px;
    font-size: 18px;
    color: #ff6b82;
    font-weight: 500;
}
.total{
    padding: 10px 0px 0px 230px;
    font-size: 18px;
   
}
.total .total-price{
    font-weight: 600; 
}
.btn{
    width: 500px;
    height: 50px;
    margin:10px 0 0 520px;
    font-size: 20px;
    border: none;
    color: #fff;
    background-color: #ff6b82;
}